*.apk
*.img
*.txt
*.zip
backup/
desktop.ini
get-pip.py
image/
input/
input_dp/
input_root/
ltbox/__pycache__/
output/
output_dp/
output_root/
output_xml/
python3/
tools/avb/
tools/edl-ng.exe
tools/fetch.exe
tools/kernelsu.ko
tools/ksuinit
tools/magiskboot.exe
tools/tmp_patch/
working/