*.apk
*.img
*.txt
*.zip
backup*/
bin/ltbox/__pycache__/
bin/ltbox/actions/__pycache__/
bin/ltbox/patch/__pycache__/
bin/ltbox/settings.json
bin/python3/
bin/tools/
desktop.ini
get-pip.py
image/
input*/
output*/
working/
